---
import Layout from "../../layouts/Layout.astro"
import { getOneEvent } from "../../../backend/backend.mjs"

const { id } = Astro.params; // Récupère l'ID de l'événement dans l'URL
const event = await getOneEvent(id); // Récupère l'événement correspondant à l'ID

if (!event) { // Si l'événement n'existe pas dans la collection pocketbase ou si l'ID est incorrect
    console.error(`Event with id ${id} not found`);
    return Astro.redirect("/Programmes"); // Redirige vers la page d'agenda
}
---

<Layout title={event?.Titre_film}>
    <img src={event?.imgUrl} alt=image class="w-80 h-80 object-cover" />
    <p set:html={event?.Description_film}></p>
    <p>{event.date_sortie_film}</p>
    <p>{event.diffusion_film}</p>
    <p>{event.bande_annonce_film}</p>
</Layout>